@import "tailwindcss";

@theme {
  --font-family-sans: 'Inter', ui-sans-serif, system-ui, sans-serif;
  --color-background: #F4F7FE;
  --shadow-card: 0px 0px 1px 0px rgba(18, 3, 62, 0.11), 0px 3px 5px 0px rgba(18, 3, 62, 0.10);
}

@layer base {
  * {
    box-sizing: border-box;
  }

  :root {
    font-family: var(--font-family-sans);
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
  }

  body {
    margin: 0;
    background: var(--color-background);
  }
}
